@model IEnumerable<EstevezGayosoRosanaTarea3.Database.Models.Profesor>

@{
	ViewData["Title"] = "Profesor";
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/css/tablaStyle.css" type="text/css" rel="stylesheet" />
</head>
<body>
	
	<table class="tabla">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ProfesorId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Nombre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Edad)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Materia)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ProfesorId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Edad)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Materia)
					</td>
					<td>
						
						@Html.ActionLink("Detail", "VerProfesor", new { item.ProfesorId})
						
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>
