@model EquipoViewModel
@{
    ViewData["Title"] = "Equipo";
}

@if (Model.Equipo.Pokemons.Any())
{
    <body>
        <div class="container" style="margin-top:50px">
           
            <div class="row">

                @foreach (var item in Model.Equipo.Pokemons)
                {
                    <div class="col-2" style="padding-top:50px; padding-bottom: 50px; background-color:azure;">
                        @{
                            var imagenRuta = "/img/" + item.numero_pokedex + ".png";
                        }
                        <img src=@imagenRuta style="width:90px;" />
                        @item.nombre
                    </div>
                }
                
            </div>
            <div class="row" >
                <div class="col-3" style="background-color:darkcyan;">
                    <h4> Tipo Predominante: @Model.Predominate</h4>
                </div>
                <div class="col-3" style="background-color:darkcyan">

                    <h4>
                        Peso promedio: @{
                                    @Model.PesoPromedio
                        }
                    </h4>
                </div>
                <div class="col-3" style="background-color:darkcyan">
                    <h4>
                        Altura promedia: @{
                                    @Model.AlturaPromedio
                        }
                    </h4>
                </div>
                <div class="col-3" style="background-color:darkcyan">


                    <h4> cantidad pokemons en equipo: @Model.Cantidad </h4>
                </div>

            </div>
            <div class="row">
                <div class="col-12" style="background-color:darkcyan">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Numero_pokedex
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Imagen
                                </th>
                                <th>
                                    Tipos
                                </th>
                                <th>
                                    Peso
                                </th>
                                <th>
                                    Altura
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Equipo.Pokemons)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.numero_pokedex)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @{
                                            var imagenRuta = "/img/" + item.numero_pokedex + ".png";
                                        }

                                        <img src="@imagenRuta" style="width:90px" />


                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tipos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Peso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Altura)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalles", "VerDetalles", new { item.numero_pokedex })


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </body>
    

    
}
else
{
    <div class="alert alert-danger" role="alert">
		No hay Pokemons en tu equipo, vuelve a la lista para añadir
	</div>

	<button class="btn btn-danger">
		<a asp-controller="Pokemon" asp-action="ListaPokemon">Volver a lista de pokemon</a>
		
	</button>
    
}


