@model IEnumerable<EstevezGayosoRosanaTarea4.Database.Models.Pokemon>

@{
    ViewData["Title"] = "Lista Pokemon";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("GetFilteredPokemons", "Pokemon", FormMethod.Post))


{
    <div>
        <label>Tipo:</label>
        @Html.TextBox("tipo")
    </div>

    <div>
        <label>Peso:</label>
        @Html.TextBox("peso")
    </div>

    <div>
        <label>Altura:</label>
        @Html.TextBox("altura")
    </div>

    <div>
        <input type="submit" value="Filtrar" />
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numero_pokedex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero_pokedex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.ActionLink("Evoluciones o Involuciones", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Movimientos", "VerMovimiento", new { item.numero_pokedex}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
